body {
    margin: 0 auto;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";

    background-color: #3d3d3d;
}

* {
    box-sizing:border-box;
    -moz-box-sizing: border-box;

    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}

/*=================================================
Clearfix
===================================================*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*=================================================
End Clearfix
===================================================*/

.main{
    width:100%;
}

#canvas {
    float:left;
    background-color: #fff;
}

#sidebar {
    float: left;
    background-color: #3d3d3d;
    width: 205px;
    padding-top: 60px;
}

#rad {
    width:20%;
    float: left;
}
#tools {
    width:20%;
    float:left;
}
#colors{
    width:20%;
    float:left;
}
#actions{
    width:20%;
    float:right;
}

#colors div {
    width:30px;
    height:30px;
    border-radius: 15px;
    display:inline-block;
    margin-left: 10px;
}

#toolbar{
    width:100%;
    height:70px;
    padding:10px;
    position:fixed;
    top:0;
    background-color: #2d2d2d;
    color:#fff;
}

.radcontrol{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    width: 30px;
    height:30px;
    display: inline-block;
    background-color: #3d3d3d;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   /* Styles */
    width: 100px;
    background: #3E9CCD;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    padding: 0.5em;
    text-transform: uppercase;
}

#tools i{
    padding: 4px;
    font-size: 2em;
    color: #fff;
    /*margin-right: 1em;*/
    background-color: #4d4d4d;
}

#tools i:hover{
    background-color: #939393;
}

.list-of-shapes h4{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2em;
}

.list-of-shapes div {
    text-align: center;
    color:white;
}

.list-of-shapes .shape-item {
    padding: 5px;
    border:solid;
    border-width: 1px;
    border-color: #4d4d4d;
}

.btn {
    text-decoration: none;
    width: 50px;
    height: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #2689DB;
}

.btn:hover{
    curser:pointer;
}
